body{
	background-color: black;
}

a{
	color: inherit;
}

.jumbotron {
	height: 300px;
}

#title{
	font-family: Arial, Helvetica, sans-serif;
	color: white;	
	text-align: center
}
.heart {
	color: red;
}

.card {
	margin-bottom: 5px;
}
footer{
	margin-top:100px;
	background-color: #424242;
	color: white;
}
.footer-copyright{
	background-color: #242729;

}